# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Sphinx documentation
doc/_build/

pycydemo/extension.c
pycydemo/version.py
